html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 10px;
}

h2 {
    font-size: larger;
}

a {
    color: black;
    text-decoration: none;
}

time {
    color: rgb(122, 122, 122);
    font-size: 15px;
}

label {
    cursor: pointer;
}

pre {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Helvetica;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

select {
    background-color: #f4f6f8;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 4px 8px;
    cursor: pointer;
}

textarea {
    box-sizing: border-box;
    border: none;
    border-right: 1px solid rgb(222,222,222);
    width: 700px;
    height: 80px;
    margin-bottom: 5px;
    padding: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-indent: 2%;
    font-size: larger;
}

.nav-center {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 56%;
    max-width: 700px;
    border-left: 1px solid rgb(222,222,222);
    border-right: 1px solid rgb(222,222,222);
}
.nav-left {
    width: 22%;
    flex:1;
}
.nav-right {
    display: flex;
    width: 22%;
    flex:1;
    justify-content: start;
}

.navigation-header {
    background-color: white;
    position: inherit;
    top: 0;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(222,222,222);
}

.auth {
    margin-right: 10px;
}

.feed {
    align-self: center;
    width: 700px;
}

.username {
    margin-left: 20px;
}

.create-post {
    box-sizing: border-box;
    padding-bottom: 20px;
    border-left: 1px solid rgb(222,222,222);
    border-right: 1px solid rgb(222,222,222);
    border-bottom: 1px solid rgb(222,222,222);
}

.create-comment {
    border-left: 1px solid rgb(222,222,222);
    border-right: 1px solid rgb(222,222,222);
    border-bottom: 1px solid rgb(222,222,222);
}

.post {
    background-color: white;
    border-bottom: 1px solid rgb(222,222,222);
    border-left: 1px solid rgb(222,222,222);
    border-right: 1px solid rgb(222,222,222);
    padding: 20px;
}
.post:hover {
    background-color: rgb(244,244,244);
}

.post-bottom, .post-rating  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header, .comment-header {
    display: flex;
    justify-content: space-between;
}


.comment-rating {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.rating {
    text-align: center;
    width: 30px;
}

.categories {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.category-checkbox {
    background-color: #f4f6f8;
    border-radius: 7px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
}

button.send {
    margin-left: 20px;
}

/* button.rateButton {
    border: none;
    background-color: #dae0e64b;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    color: rgb(81, 143, 161);
    width: 30px;
    transition: transform .2s;
}

button.rateButton:hover {
   cursor: pointer;
   transform: scale(1.2);
} */

.likeButton {
    background: transparent;
    border: none; /* Remove borders */
    color: lightseagreen; /* White text */
    /* padding: 12px 16px; Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .likeButton:hover {
    color: lightgreen;
  }


  .dislikeButton {
    background: transparent;
    border: none; /* Remove borders */
    color: lightcoral; /* White text */
    /* padding: 12px 16px; Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .dislikeButton:hover {
    color: red;
  }
.comments {
    background-color: white;
}

.comment {
    border-bottom: 1px solid rgb(222,222,222);
    border-left: 1px solid rgb(222,222,222);
    border-right: 1px solid rgb(222,222,222);
    background-color: white;
    padding: 20px;
}

.login-card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px;
    align-self: center;
}

.login-card-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#send {
    background-color: #518fa1;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
}

#input-post, #input-comment {
    resize: none;
    height: 60px;
    margin-top: 20px;
}

#login {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

@media screen and (max-width: 800px) {
    .feed {
        width: 375px;
    }
    .nav-center {
        width: 70%;
    }
    .nav-left {
        width: 15%;
    }
    .nav-right {
        width: 15%;
    }
    textarea {
        width: 370px;
    }
    #input-post,  #input-comment {
        width: 375px;
    }
}