<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
    <title>Forum</title>
</head>

<body>
    <div class="reg-card">
        <p><b>Happening now <br> Join Forum today.</b></p>
        <form method="POST" action="/registration">
            <div class="login-card-elements">
                <p>email</p>
                <input type="email" name="email">
                <p>username</p>
                <input name="username">
                <p>password</p>
                <input type="password" name="password">
                <p>
                    <input id="send" value="Sign up" type="submit"></input>
                </p>
            </div>
        </form>
    </div>

    <nav class="navigation-header">
        <p><b>Already have an account? <br></b></p>
        <a href="/login" id="login">Log In</a>
    </nav>
</body>

</html>